// `acct-s` stands for "account-selector"

.acct-s {
  display: grid;
  grid-template-columns: repeat(2, 60px);
  gap: 8px;
  padding: 0 20px;

  .acct-s__accounts {

    &.acct-s__accounts--inactive {
      color: #aaa;
    }

    li {
      margin: 0 0 8px;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .acct-s__account {
    display: grid;
    justify-content: center;
  }
}
