.transaction-detail {

  p {
    display: grid;
    grid-template-columns: 35% 65%;
    margin: 24px 0;

    &:first-of-type {
      margin-top: 0;
    }

    span:first-of-type {
      color: #555;
      font-weight: 700;
    }
  }
}
