.transactions {

  .transactions__search {
    margin: 14px 0;

    input {
      padding: 6px 12px;
    }
  }

  .transactions__list {

    li {
      margin: 0 0 12px 0;
      padding: 10px 0 10px 10px;

      span {
        display: block;
      }

      .transactions__amount {
        cursor: pointer;
      }

      display: grid;
      grid-template-columns: 5% 5% 8% 5% 4% 4% 43% 6% 10% 10%;

      &:nth-child(2n + 1) {
        background-color: #ddd;
      }
    }
  }
}
