@import "./base.scss";
@import "./layout.scss";
@import "./style.scss";

.btn {
  &.btn--generic {
    background-color: cornflowerblue;
    border: none;
    color: white;
    cursor: pointer;
    padding: 8px 12px;
    &:hover {
      background-color: crimson;
      transition: all ease-in-out 400ms;
    }
  }
}
