.account-selector {

  .account-selector__account-names {
    display: flex;

    p {
      font-size: 1.2rem;
    }

    > li {
      margin: 0 60px;
      text-align: center;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  .account-selector__account-nos {

    li {
      cursor: pointer;
      margin: 10px 0;

      &.account-selector__account-no--selected {
        color: crimson;
      }
    }
  }
}
