.account-selector {

  .account-selector__account-names {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;

    p {
      font-size: 1.2rem;
    }
  }

  .account-selector__account-container {
    cursor: pointer;

    &.account-selector__account-container--selected {
      color: crimson;
    }
  }

  .account-selector__account {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}
