.labels {
  align-items: center;
  color: white;
  display: flex;

  li {
    background-color: cornflowerblue;
    border: 1px solid transparent;
    border-radius: 14px;
    font-size: 10px;
    height: 22px;
    margin: 0 5px 0 0;
    padding: 2px 12px;
  }
}
