.note-input {
  position: relative;

  .note-input__buttons {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
  }

  .note-input__button {
    background: none;
    border: 1px solid transparent;
    font-size: 1.0rem;
    margin: 0 0 0 10px;
  }
}
