.dialogue {
  width: 100%;

  .dialogue__subheader {
    border-bottom: 1px solid #aaa;
    display: flex;
    justify-content: space-between;
    padding: 0 0 20px;
  }

  .dialogue__inputs-container {
    align-items: stretch;
    display: flex;
    flex: 1;
    justify-content: space-between;
    max-width: 60%; // ref A
    padding: 0 0 0 20px;
  }

  .dialogue__toggles {
    display: flex;
  }

  .dialogue__toggle {
    background-color: aliceblue;
    cursor: pointer;
    padding: 6px 0;
    text-align: center;
    width: 80px;

    &:last-child {
      border: none;
    }

    &.dialogue__toggle--selected {
      background-color: cornflowerblue;
      color: white;
    }
  }

  .dialogue__cancel {
    align-self: center;
    color: #999;
    cursor: pointer;
    font-size: 20px;

    &:hover {
      color: black;
    }
  }

  .dialogue__body {
    display: flex;
    height: 88%;
    justify-content: space-between;

    .dialogue__column {
      padding: 20px 0 0;
      flex: 1;
      
      &.dialogue__column--left {
        max-width: 40%; // ref A
        padding-right: 20px;
      }

      &.dialogue__column--right {
        border-left: 1px solid #aaa;
        max-width: 60%; // ref A
        overflow: scroll;
        padding-left: 20px;
      }
    }
  }

  .dialogue__search {
    display: flex;
    justify-content: flex-end;

    .dialogue__live-search {
      width: 200px;
    }

    input {
      border: 1px solid transparent;
      padding: 6px;
      width: 100%;
    }
  }

  .dialogue__btn-container {
    margin: 0 0 0 14px;

    button {
      background-color: crimson;
      border: 1px solid transparent;
      color: white;
      padding: 6px 14px;

      &:hover {
        background-color: cornflowerblue;
      }
    }
  }

  .dialogue__bulk {
    align-items: center;
    display: flex;
  
    input[type="checkbox"] {
      height: 100%;
      margin: 0 0 0 14px;
      width: 29.5px;
    }
  }
}
