.date-selector {
  margin: 0 0 0 60px;
  
  p {
    font-size: 1.2rem;
  }

  .date-selector__dates {

    .date-selector__date {
      cursor: pointer;
      margin: 10px 0;

      &.date-selector__date--selected {
        color: crimson;
      }
    }
  }
}
